<footer>
    <section class="top-footer">
        <h3>EventHub</h3>
        <a href="https://www.facebook.com">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a href="https://www.twitter.com">
            <i class="fa-brands fa-x-twitter"></i>
        </a>
        <a href="https://www.instagram.com">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <div class="contactinfo">
            <div class="location">
                <p>300 Some Ave.,</p>
                <p>Houston, United States</p>
            </div>
            <div class="email">
                <p>eventhub.hub.com</p>
                <p>eventhub.hubinfo.com</p>
            </div>
            <div class="phone">
                <p>O - 1 800 555 8888</p>
                <p>F - 1 800 777 2626</p>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <h6>EventHub</h6>
        <p>Made with <i class="fa-solid fa-heart"></i>.</p>
    </section>
</footer>